# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Node
node_modules/
dist/
.DS_Store
*.local

# IDE
.vscode/
.idea/
*.swp

# Frontend env
frontend/.env.local
frontend/.env.production

# Backend env
backend/.env
odoo-docs/ 
